.container{
    margin:  auto;
    background-color: #E0F2F1;
    width: 80%;
    height: 100%;
    padding: 16px;
    h1{
        text-align: center;
        color: #3878ac;
    }
    .form{
        display: flex;
        align-items: start;
        justify-content: center;

        gap: 12px;
        button{
            height: 56px;
            width: 100px;
        }
    }
    .table{
        margin-top: 16px;
        overflow: auto;
        height: calc(100vh - 190px);
    }
    .no-data{
        text-align: center;
    }
}